.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    
    /* transform: translate(-50%, -50%); */
    align-content: center;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#text{
    position: absolute;

    top: 65%;
    left: 50%;
    transform: translateX(-35%);

    text-align: center;
    font-size: 24px;
}

@media only screen and (min-width: 600px) {
    .loader{
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}